<template>
    <div v-if="event != null">
        <div class="columns is-multiline is-centered">
            <img v-bind:src="this.event.getMediaUrl()" class="column is-full-tablet is-one-third" alt="Placeholder image">
            <div class="column is-two-third">
                <h1>{{ event.name }}</h1>
                <p>{{ event.place }}{{ writeDistrict }}</p>
                <p>{{ event.category }}</p>
                <p>State : {{ state }}</p>
                <p v-if="event.free">Free</p>
            </div>
        </div>
        <div v-if="event.description != null">
            <h2>Description</h2>
            <p>{{ event.description }}</p>
        </div>
        <div v-if="event.priceDetails != null">
            <h2>Price Details</h2>
            <p>{{ event.priceDetails }}</p>
        </div>
        <h2>Practical Informations</h2>
        <div>
            <p v-if="date != null">{{ date }}</p>
            <h4>Location</h4>
            <ul>
                <li>{{ event.address }}</li>
                <li>{{ event.postalCode }} {{ event.city }}</li>
            </ul>
            <p>
                <a v-if="webSiteDefined"
                :href="this.event.placeWebsite">
                    {{ this.event.placeWebsite }}
                </a>
                <span v-if="phoneDefined">{{ phone }}</span>
            </p>
            <iframe title="Location" v-if="openStreetMapLocation != null" :src="openStreetMapLocation"></iframe>
        </div>
        <h2>Other Informations</h2>
        <div>
            <p>LSF : {{ this.event.lsf }}</p>
            <p>Child Reception : {{ this.event.childReception }}</p>
            <p>Transmitter : {{ this.event.transmitter }}</p>
            <p v-if="this.event.scheduleLink != null">Schedule Link : <a :href="this.event.scheduleLink">{{ this.event.scheduleLink }}</a></p>
            <p>Manif Id : {{ this.event.idManif }}</p>
        </div>
    </div>
    <div v-else class="error">
        <p>Event with id {this.id} isn't found.</p>
        <router-link :to="{ name:'Events' }">Return to Event-List</router-link>
    </div>
</template>

<script>
import event from "../utils/event.js"

export default {
    data() {
        return {
            event_: null,
            date_ : null,
            openStreetMap_: null
        }
    },
    props: {
        id: String
    },
    methods: {
        defineEvent() {
            this.event_ = event.Event.get(this.id);
        },
        defineDate() {
            this.date_ = this.event.date != null ? 
                    this.event.date + " " + this.event.startAt != null ?
                        this.event.startAt + this.event.endAt != null ?
                            " - " + this.event.endAt : ""
                        : ""
                : null;
        },
        defineOpenStreetMap() {
            if (this.event.location == null)
                return null;
            var lat = this.event.location.split(", ")[0];
            var lon = this.event.location.split(", ")[1];
            var couple = lon + "," + lat;
            this.openStreetMap_= "https://www.openstreetmap.org/export/embed.html?bbox=" + couple + "," + couple + "&amp&layer=mapnik";
        }
    },
    computed: {
        event() {
            if (this.event_ == null)
                this.defineEvent();
            return this.event_;
        },
        writeDistrict() {
            return this.event.placeDistrict != null ? (this.event.place != null ? " | " : "" + this.event.placeDistrict) : "";
        },
        state() {
            return this.event.canceled ? "Canceled" : this.event.booked ? "Booked" : this.event.postponed ? "Postponed" : "Available";
        },
        date() {
            if (this.date_ == null)
                this.defineDate();
            return this.date_;
        },
        webSiteDefined() {
            return this.event.placeWebsite != null;
        },
        phoneDefined() {
            return this.event.placePhone != null
        },
        webSiteAndPhoneDefined() {
            return this.webSiteDefined && this.phoneDefined;
        },
        phone() {
            return this.phoneDefined ? (this.webSiteAndPhoneDefined ? " / " : "") + this.event.placePhone : null;
        },
        openStreetMapLocation() {
            if (this.openStreetMap_== null)
                this.defineOpenStreetMap();
            return this.openStreetMap_;
        }
    }
}
</script>

<style>

</style>