<template>
  <div class="columns is-multiline is-centered">
    <ShortEvent
      v-for="event in events"
      v-bind:key=event.id
      v-bind:event=event
      class="column is-half-tablet is-one-third-desktop is-one-quarter-widescreen m-2"
    />
  </div>
  <button @click="loadMore()">Load More</button>
</template>

<script>
import ShortEvent from './ShortEvent.vue';
import apiUtils from '../utils/api/apiUtils';
import event from '../utils/event.js';
import axios from "axios";

export default {
  name: 'App',
  data() {
    return {
      events:{},
      base:10
    }
  },
  computed: {
    current() {
      return this.sizeOfEvents(this.events);
    }
  },
  methods: {
    sizeOfEvents(events) {
      return events != null ? Object.keys(events).length : 0;
    },
    loadMore() {
      this.loadN(this.current + this.base);
    },
    loadN(n) {
      var allEvent = event.Event.getAll();
      if (allEvent == null || this.sizeOfEvents(allEvent) < n)
        axios
          .get(apiUtils.APIUtils.getAPIUrl(n, null))
          .then((response) => {
            this.events = apiUtils.APIUtils.dataToEvent(response.data.records);
          });
      else {
        this.events = event.Event.getAll();
      }
    }
  },
  mounted() {
    this.loadN(this.base);
  },
  components: {
    ShortEvent
  }
};
</script>
