<template>
    <h1>Welcome in Nantes-Event !</h1>
    <EventList />
</template>
<script>
    import EventList from "./EventList.vue";

    export default {
        components: {
            EventList
        }
    }
</script>
