<template>
  <nav id="ownNavbar" class="navbar">
    <div class="navbar-brand">
      <router-link class="navbar-item" :to="{ name:'Home'}">Home</router-link>
      <div class="navbar-burger" @click="showNav = !showNav" :class="{ 'is-active': showNav }" aria-label="menu" aria-expanded="false">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </div>
    </div>
    <div class="navbar-menu" :class="{ 'is-active': showNav }">
      <div class="navbar-end">
        <router-link class="navbar-item" :to="{ name:'Events' }">Event List</router-link>
      </div>
    </div>
  </nav>
</template>

<script>
  export default {
    data() {
      return {
        showNav: false
      };
    }
  };
</script>

<style>
  #ownNavbar {
    margin-bottom: 1em;
  }
</style>