<template>
    <router-link :to="{ name:'Event', params: { id: this.event.id } }">
        <div class="card">
            <div class="card-image">
                <figure class="image is-4by3">
                    <img v-bind:src="this.event.getMediaUrl()" alt="Placeholder image">
                </figure>
            </div>
            <div class="card-content">
                <div class="media">
                    <div class="media-content">
                        <p class="title is-4">{{ event.name }}</p>
                        <p class="subtitle is-8">{{ textFree }}</p>
                        <ul>
                            <li>{{ event.day }} - {{ event.startAt }}</li>
                            <li>{{ event.city }}</li>
                        </ul>
                        <a v-if="contactInfoIsUri" v-bind:href="contactInfo" class="websiteLink">WebSite</a>
                        <p v-else>{{ contactInfo }}</p>
                        <p>Category : {{ event.category }}</p>
                    </div>
                </div>
            </div>
        </div>
    </router-link>
</template>
<script>
    import event from '../utils/event.js';
    export default {
        props: {
            event:event.Event
		},
        computed: {
            contactInfo() {
                return this.event.placeWebsite != null ?
                    this.event.placeWebsite : this.event.placePhone != null ? "Tel : " + this.event.placePhone : "No Info";
            },
            contactInfoIsUri() {
                return this.contactInfo.startsWith("http");
            },
            textFree() {
                return this.event.free ? "Is free" : "Isn't free";
            }
        }
    };
</script>
<style>
    .websiteLink {
        text-decoration: underline;
    }
</style>