<template>
  <Menu />
  <div class="container">
    <router-view />
  </div>
</template>

<script>
import Menu from "./components/Menu.vue";

export default {
  components:{
    Menu
  }
}
</script>


<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}
</style>